<h1><%=@cocktail.name %></h1>

<% if @cocktail.doses.present? %>
  <% @cocktail.doses.each do |dose|%>
  <p><strong>Dose:</strong><%= dose.description%>  <em><%=dose.ingredient.name%></em><%= link_to "delete", dose_path(dose.id), method: :delete,
      data: { confirm: "Are you sure?" }%></p>
   <%end%>
  <%end %>

<p><%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail), class: 'btn btn-primary' %></p>

<p><%= link_to "Back to the list", cocktails_path, class: 'btn btn-primary'%></p>
